$main-color:#ebdd02;
$blue-color:#3f71ff;
$gray-color:#797979;
$black-color:#000000;
$white-color:#ffffff;
$black-text:#191919;
$font-roboto:'Roboto', 'Pretendard', sans-serif;
$font-pret:'Pretendard', sans-serif;
$font-gMarket:'GmarketSans','Pretendard', sans-serif;
$font-man:'Manrope', 'Pretendard', sans-serif;