@import "./_var.scss";
html, body{
    height:100%;
    background-color:#bbbbbb; 
}
body{
    overflow-x: hidden;
    font-family: $font-pret;
    font-size:14px;
}
body::-webkit-scrollbar{
    display:none;
}
img{max-width:100%; }
.wrap{
    width:100%; height:100%; background-color:$black-color;
    margin:auto; 
    > *{
        height:100%;
    }
    input, button{
        font-family: inherit;
    }
}
.innerBreak{
    margin:0 -20px; 
    width:calc(100% + 40px);
}
@media screen and (min-width:640px){
    .wrap, .inner{max-width:640px; margin:auto;}
}
.inner{padding:0 20px; position:relative; box-sizing: border-box; width: 100%;}
.index .header .header-main-inner .btn-back{display:none;}
.index .header .header-main-inner .btn-logon{display:block;}
.header{
    padding:30px 0 20px;
    position:relative;
    z-index: 3; background-color: $white-color;
    border-bottom:1px solid #e8e8e8;
    .header-main-inner{
        display:flex; justify-content: space-between; align-items: center; 
        height:40px;
        .btn-logon{
            display:none;
            color:$black-color; border:1px solid $black-text; line-height: 26px;
            font-family: $font-man; font-weight:900; padding:0 10px; border-radius:15px;
        }
        .btn-back{
            width: 25px; height:100%; background: url("../images/btn/btn_back.png") no-repeat left center/auto 15px;
            font-size:0; text-indent:-9999px;
        }
    }
    .header-logo{
        width:60px;
        position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) translateX(15px);
        img{display:block; }
    }
    .menu-btn{
        background:transparent;
        border:none; 
        span{
            display:block;
            color:$black-text;
            font-family:$font-man;
            font-weight:600;
            font-size:11px;
            padding-bottom:3px;
            border-bottom:2px solid $black-text;
        }
    }
}
.main-menu{
    overflow-y: auto;
    position:fixed; left:0; top:0;
    width:100%; height:100%; background:$white-color;
    display:flex; flex-flow: column; display:none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
      }
    .banner-wrap{
        padding:20px 0;
    }
    .menu-header{
        padding: 30px 0 20px; margin-bottom:20px; 
        position: relative;
        z-index: 3; border-bottom:1px solid #e8e8e8;
        .inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
        }
        .btn_setting{
            width: 25px;
            height: 100%;
            background: url(../images/btn/btn_setting.png) no-repeat left center/contain;
            font-size: 0;
            text-indent: -9999px;
        }
    }
    .menu_util{
        .btns{
            display:flex; justify-content: space-between;
            li{
                width:23%; text-align: center; display:flex; flex-flow:column; 
                .imgArea{
                    padding-top:100%; background: #e8e8e8 url('') no-repeat center/auto 40%; border-radius:10px; 
                    margin-bottom:10px;
                    &.ar{background-image:url('../images/btn/btn_ar_02.png')}
                    &.photo{background-image:url('../images/btn/btn_photo_02.png')}
                    &.my{background-image:url('../images/btn/btn_my_02.png')}
                    &.history{background-image:url('../images/btn/btn_history.png')}
                }
                .txtArea{
                    font-size:12px; color:$black-text;
                }
            }
        }
    }
    .banner-wrap{
        .swiper-wrapper{
            margin-bottom:5px;
        }
        .swiper-slide{
            border-radius:5px; overflow: hidden;
            img{
                display: block; width: 100%;
            }
        }
        .swiper-pagination{
            position:static; transform:none; margin:0;
            .swiper-pagination-bullet{background:#bbbbbb; opacity: 1;}
            .swiper-pagination-bullet-active{background:$main-color;}
        }
    }
    .btn_notice{
        display:flex; justify-content: center; align-items: center;
        border:1px solid $black-color; color:$black-color; padding:10px 0;
        border-radius:8px; 
    }
}
.footer{
    background:white; padding:15px 0 20px; z-index:5;
    ul{
        display:flex;
        li{
            width:33.33%; position:relative; text-align: center;
            a{
                display: block; font-family:$font-man; font-weight:500; color:$black-text; 
                .imgArea{
                    background:url('') no-repeat center/ contain;
                    width:35px; height:35px;  margin: 0 auto 10px;
                    &.btn-ar{background-image:url('../images/btn/btn_ar.png')}
                    &.btn-photo{background-image:url('../images/btn/btn_photo.png')}
                    &.btn-my{
                        background-image:url('../images/btn/btn_my.png'); position:relative;
                        .numb{
                            position:absolute; right:0; bottom:0; width:20px; height:20px; background:$main-color; border-radius:50%; display: flex; justify-content: center; align-items: center;
                            font-family: $font-man; font-weight:600; font-size:12px; 
                        }
                    }
                }
                span{font-weight:500;}
            }
        }
    }
}