/* intro*/
.intro > * { display: flex; flex-flow: column; justify-content: center; }

.intro > * img { width: 100%; }

.intro .intro_btn { display: block; margin: 0 auto; border-radius: 30px; font-size: 12px; text-align: center; line-height: 2.5; width: 77%; font-weight: 900; }

.intro .upper-area, .intro .lower-area { padding: 10px 0px; flex: 1; }

.intro .upper-area { height: 45%; background: #ffffff; overflow: hidden; }

.intro .upper-area p { color: #000000; text-align: center; font-size: 15px; margin-bottom: 20px; line-height: 1.3; }

.intro .upper-area p span { display: block; }

.intro .upper-area p span:nth-child(2) { font-family: "GmarketSans", "Pretendard", sans-serif; }

.intro .upper-area p span strong { color: #3f71ff; }

.intro .upper-area .img-area { width: 73%; margin: 0 auto 15px; position: relative; }

.intro .upper-area .intro_btn { box-shadow: inset 0px 3px 10px 0px rgba(235, 221, 2, 0.6); color: #ebdd02; background: #000000; }

.intro .lower-area { height: 55%; background: #191919; overflow: hidden; }

.intro .lower-area .logo-area { width: 20%; margin: 0 auto; }

.intro .lower-area .logo-area img { display: block; width: 100%; min-width: 65px; }

.intro .lower-area p { color: #ffffff; text-align: center; font-size: 15px; margin-bottom: 10px; line-height: 1.3; }

.intro .lower-area p span { display: block; }

.intro .lower-area p strong { font-family: "GmarketSans", "Pretendard", sans-serif; color: #3f71ff; }

.intro .lower-area p i { font-size: 12px; display: block; margin: 10px auto; }

.intro .lower-area p i strong { font-weight: 400; color: #ebdd02; }

.intro .lower-area .img-area { margin-bottom: 20px; }

.intro .lower-area .intro_btn { border: none; background: #ffffff; color: #191919; box-shadow: inset 0px 3px 10px 0px rgba(18, 18, 18, 0.6); }

/*index*/
.index { display: flex; flex-flow: column; }

.index .header { flex: 0 1 auto; }

.index .main-visual { flex: 1 1 auto; border-radius: 500px 500px 0 0; }

.index .main-visual .swiper { height: 100%; }

.index .main-visual .swiper .swiper-wrapper { transition-duration: 0.6s !important; }

.index .main-visual .swiper .swiper-slide { position: relative; z-index: 1; background-repeat: no-repeat; background-position: center top; background-size: cover; }

.index .main-visual .swiper .swiper-slide a { display: block; width: 100%; height: 100%; }

.index .main-visual .swiper .swiper-bottom { position: absolute; bottom: 5%; left: 0; z-index: 2; width: 100%; display: flex; justify-content: space-between; }

.index .main-visual .swiper .swiper-bottom .swiper-btns { display: flex; }

.index .main-visual .swiper .swiper-bottom .swiper-btns > * { position: static; transform: none; width: 20px; height: 13px; font-size: 0; margin-top: 0; background-repeat: no-repeat; background-position: center; background-size: contain; }

.index .main-visual .swiper .swiper-bottom .swiper-btns > *:after { font-size: inherit; }

.index .main-visual .swiper .swiper-bottom .swiper-btns .swiper-button-next { background-image: url("../images/index/visual/arr_next.png"); }

.index .main-visual .swiper .swiper-bottom .swiper-btns .swiper-button-prev { background-image: url("../images/index/visual/arr_prev.png"); margin-right: 8px; }

.index .main-visual .swiper .swiper-bottom .swiper-pagination { font-family: "Roboto", "Pretendard", sans-serif; position: static; transform: none; width: auto; display: flex; align-items: center; }

.index .main-visual .swiper .swiper-bottom .swiper-pagination span { padding: 0 3px; }

.index .guide_popup { position: absolute; background: #ffffff; left: 0; top: 0; width: 100%; height: 100vh; z-index: 10; display: flex; flex-flow: column; overflow-y: auto; }

.index .guide_popup .guide-close { position: absolute; right: 25px; top: 25px; width: 25px; height: 25px; z-index: 1; border: none; text-indent: -999px; overflow: hidden; font-size: 0; background: transparent; }

.index .guide_popup .guide-close:before, .index .guide_popup .guide-close:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 100%; height: 2px; border-radius: 2px; background: #ffffff; }

.index .guide_popup .guide-close:before { transform: translate(-50%, -50%) rotate(-45deg); }

.index .guide_popup .guide-close:after { transform: translate(-50%, -50%) rotate(45deg); }

.index .guide_popup .upper-area { min-height: 35%; background: #191919; display: flex; }

.index .guide_popup .upper-area .inner { display: flex; align-items: center; justify-content: space-evenly; flex-flow: column; padding: 10px 20px 0; }

.index .guide_popup .upper-area .inner h3 { text-align: center; color: #ffffff; font-size: 16px; line-height: 1.2; }

.index .guide_popup .upper-area .inner h3 span { display: block; }

.index .guide_popup .upper-area .inner h3 strong { color: #3f71ff; }

.index .guide_popup .upper-area .inner img[alt="cards image"] { width: 90%; }

.index .guide_popup .lower-area { flex: 1; background: #ffffff; display: flex; flex-flow: column; }

.index .guide_popup .lower-area .guide-swiper { width: 100%; flex: 1; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide { padding: 20px 20px 0; text-align: center; display: flex; justify-content: center; align-items: center; flex-flow: column; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide p span { display: block; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide p strong { color: #3f71ff; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide h5 { color: #3f71ff; font-size: 18px; font-weight: 900; font-family: "GmarketSans", "Pretendard", sans-serif; margin-bottom: 5px; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide h5 + p { font-size: 14px; margin-bottom: 20px; font-weight: 600; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .cont { flex: 1; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .step { display: flex; flex-wrap: wrap; justify-content: space-between; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .step .e_step { width: 47%; line-height: 1.3; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .step .e_step .img-area { margin: 0 auto 15px; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .step .e_step .img-area img { width: 100%; display: block; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .step .e_step p { color: #191919; font-size: 13px; font-weight: 500; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide:last-child .e_step { width: 100%; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide:last-child .e_step .img-area { width: 47%; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .notice { width: 100%; padding: 15px 0; font-size: 12px; color: #858585; display: flex; justify-content: center; align-items: center; flex: 1; flex-flow: row; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .notice > * { vertical-align: middle; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .notice img, .index .guide_popup .lower-area .guide-swiper .swiper-slide .notice mark { width: 18px; color: #e42323; margin-right: 3px; }

.index .guide_popup .lower-area .guide-swiper .swiper-slide .notice span { display: inline-block; }

.index .guide_popup .lower-area .swiper-pagination { padding: 10px 0 25px; position: static; }

.index .guide_popup .lower-area .swiper-pagination .swiper-pagination-bullet { border: 2px solid #a5a5a5; width: 10px; height: 10px; background: transparent; opacity: 1; }

.index .guide_popup .lower-area .swiper-pagination .swiper-pagination-bullet[class*='active'] { background: #a5a5a5; }

/* ar */
.ar { display: flex; flex-flow: column; }

.ar .ar-wrap { flex: 1 1 auto; position: relative; z-index: 2; overflow: hidden; }

/*photo*/
.photo { display: flex; flex-flow: column; }

.photo .photo-wrap { flex: 1 1 auto; position: relative; overflow: hidden; }

.photo .photo-wrap > .inner { overflow-y: auto; overflow-x: hidden; height: 100%; box-sizing: border-box; display: flex; flex-flow: column; padding-top: 20px; padding-bottom: 20px; }

.photo .photo-wrap .step { display: none; }

.photo .photo-wrap .step .step_inner { width: 70%; margin: auto; }

.photo .photo-wrap .step .noti { font-weight: 500; text-align: center; width: 100%; font-size: 11px; color: #797979; line-height: 1.2; margin: 15px auto; }

.photo .photo-wrap .step .noti .noti-icon { vertical-align: middle; width: 12px; }

.photo .photo-wrap .step .noti span { vertical-align: middle; }

.photo .photo-wrap .step.active { display: block; }

.photo .photo-wrap .step0 .box { position: relative; width: 100%; padding-top: 159.417%; background-color: #303030; border-radius: 10px; overflow: hidden; }

.photo .photo-wrap .step0 .box #file { display: none; }

.photo .photo-wrap .step0 .box #btnLoad { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-indent: -999px; font-size: 0; background: url("../images/btn/btn_upload.png") no-repeat center/45px; }

.photo .photo-wrap .step1 { /* .tempSwiper{display:none;} */ }

.photo .photo-wrap .step1 .btns { display: flex; justify-content: space-between; align-items: center; margin: 0 auto 15px; position: relative; }

.photo .photo-wrap .step1 .btns .btn_rotate { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 25px; height: 25px; font-size: 0; text-indent: -999px; overflow: hidden; border: none; background: transparent url("../images/btn/btn_rotate.png") no-repeat center/contain; }

.photo .photo-wrap .step1 .btns button:not(.btn_rotate) { padding: 3px 15px 5px; font-size: 12px; border: 1px solid; border-radius: 15px; background: transparent; }

.photo .photo-wrap .step1 .btns button:not(.btn_rotate).btn_print { color: #ebdd02; border-color: #ebdd02; }

.photo .photo-wrap .step1 .btns button:not(.btn_rotate).btn_prev { color: #797979; border-color: #797979; }

.photo .photo-wrap .step1 .imgSwiper { overflow: visible; margin: 0 auto 25px; }

.photo .photo-wrap .step1 .imgSwiper .swiper-button-next, .photo .photo-wrap .step1 .imgSwiper .swiper-button-prev { top: 0; height: 100%; transform: none; margin: 0; }

.photo .photo-wrap .step1 .imgSwiper .swiper-button-next:after, .photo .photo-wrap .step1 .imgSwiper .swiper-button-prev:after { content: none; }

.photo .photo-wrap .step1 .imgSwiper .swiper-button-next { right: unset; left: 100%; background: url("../images/btn/btn_next.png") no-repeat center/contain; }

.photo .photo-wrap .step1 .imgSwiper .swiper-button-prev { left: unset; right: 100%; background: url("../images/btn/btn_prev.png") no-repeat center/contain; }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide { width: 80%; overflow: hidden; border-radius: 20px; overflow: hidden; border: 1px solid #000000; box-sizing: border-box; transform: scale(0.8); transition: transform 1s; background: #ffffff; }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide.swiper-slide-active { transform: scale(1); }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide:after { content: ''; display: block; position: absolute; left: 0; top: 0; z-index: 10; transition: background 0.3s; }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide:not(.swiper-slide-active):after { background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide img { max-width: 100%; height: auto; display: block; }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide .sizer { width: 100%; padding-top: 159%; padding-top: 159.2%; padding-top: 159.27%; padding-top: 159.274%; }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide .cover { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/temp/temp_00.png") no-repeat center/cover; touch-action: none; user-select: none; pointer-events: none; }

.photo .photo-wrap .step1 .imgSwiper .swiper-slide .imgWrap { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

.photo .photo-wrap .step1 .cropper-container { position: absolute; left: 0; top: 0; /*width:100% !important; height:100% !important;*/ }

.photo .photo-wrap .step1 .tempSwiper { display: none; overflow: visible; }

.photo .photo-wrap .step1 .tempSwiper.show { display: block; }

.photo .photo-wrap .step1 .tempSwiper .swiper-slide { width: 20%; margin-right: 3%; border-radius: 10px; overflow: hidden; background: #303030; }

.photo .photo-wrap .step1 .tempSwiper img { display: block; width: 100%; }

.photo .photo-wrap .step1 .tempSwiper .noTemp { position: absolute; left: 0; top: 0; display: flex; justify-content: center; align-items: center; flex-flow: column; color: #797979; line-height: 1.4; width: 100%; height: 100%; }

.photo .photo-wrap .dummyArea { width: 1px; height: 1px; overflow: hidden; }

.photo .photo-wrap .dummyArea [class^="dummy"] { position: relative; left: 0; top: 0; z-index: 10; width: 744px; height: 1185px; }

.photo .photo-wrap .dummyArea canvas { position: absolute; left: 0; top: 0; width: 100%; }

.photo .photo-wrap .dummyArea img { display: block; width: 100%; height: 100%; }

.photo .photo-wrap .dummyArea .cover { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/temp/temp_00.png") no-repeat center/cover; }

.photo .photo-wrap .dimmed { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 10; }

.photo .photo-wrap .complete { position: absolute; left: 0; bottom: 0; background: #ffffff; padding: 20px 0 40px; width: 100%; z-index: 20; transform: translateY(100%); transition: transform 0.5s; }

.photo .photo-wrap .complete.show { transform: translateY(0); }

.photo .photo-wrap .complete .btns { text-align: right; }

.photo .photo-wrap .complete .btns .btn_cancel { border: none; background: transparent; font-size: 14px; padding: 10px 0; color: #191919; }

.photo .photo-wrap .complete p { text-align: center; font-size: 14px; color: #191919; margin: 15px 0; line-height: 1.3; }

.photo .photo-wrap .complete p span { display: block; }

.photo .photo-wrap .complete .btn_canvas { display: block; width: 100%; padding: 15px 0; font-size: 14px; border: none; border-radius: 5px; background: #191919; color: #ffffff; }

.photo .cropper-dashed, .photo .cropper-line, .photo .cropper-point, .photo .cropper-center { display: none; }

.photo .cropper-view-box { outline: none; border: none; }

.photo .cropper-container, .photo .cropper-crop-box { background: #ffffff; width: 100% !important; height: 100% !important; }

.photo #canvasDumm, .photo #canvas_target { z-index: -1; opacity: 0; }

.photo #canvasDumm { position: fixed; right: 0; top: 0; width: 892px; height: 1422px; }

.photo #canvas_target { position: fixed; left: 0; top: 0; width: 892px; height: 1422px; }

/*myImages*/
.myImages { display: flex; flex-flow: column; }

.myImages .header { background: #ebdd02; flex: 0 1 auto; }

.myImages .header .home { display: flex; flex-flow: column; align-items: center; color: #000000; }

.myImages .header .home img { height: 20px; margin-bottom: 5px; }

.myImages .header .home span { font-family: "Manrope", "Pretendard", sans-serif; font-size: 11px; font-weight: 600; }

.myImages .list-wrap { flex: 1 1 auto; overflow-y: auto; }

.myImages .list-wrap .noti { font-weight: 500; text-align: center; width: 100%; font-size: 11px; color: #797979; border-bottom: 1px solid #303030; line-height: 1.2; padding: 20px 0; position: relative; }

.myImages .list-wrap .noti span { display: block; }

.myImages .list-wrap .noti .btn_print { position: absolute; right: 0; top: 50%; transform: translateY(-50%); color: #ebdd02; border: 1px solid #ebdd02; border-radius: 20px; padding: 5px 10px; }

.myImages .list-wrap .list-row:last-of-type { margin-bottom: 70px; }

.myImages .list-wrap .list-row .day { font-size: 12px; color: #797979; padding: 15px 0 10px; }

.myImages .list-wrap .list-row .list { display: flex; justify-content: flex-start; flex-wrap: wrap; gap: 2%; }

.myImages .list-wrap .list-row .list .list-item { width: 32%; background: #303030; border-radius: 5px; border: 1px solid #575757; box-sizing: border-box; margin-bottom: 2%; overflow: hidden; padding: 7px; }

.myImages .list-wrap .list-row .list .list-item.selected { background: #fff; }

.myImages .list-wrap .list-row .list .list-item .imgArea { border-radius: 3px; overflow: hidden; }

.myImages .list-wrap .list-row .list .list-item .imgArea img { width: 100%; }

.myImages .list-wrap .chk-numb { position: fixed; left: 50%; transform: translateX(-50%); bottom: 110px; width: 34px; height: 34px; border-radius: 50%; background: #ebdd02; font-size: 20px; color: #191919; display: flex; justify-content: center; align-items: center; }

/*sign*/
.sign .upper-area { height: 40%; background: #ebdd02; padding: 3% 0 1%; overflow-y: auto; }

.sign .upper-area .swiper { height: 100%; }

.sign .upper-area .swiper-slide .inner { height: 100%; display: flex; flex-flow: column; justify-content: center; align-items: center; }

.sign .upper-area .swiper-slide .way-tit { color: #191919; border: 1px solid #191919; margin-bottom: 15px; border-radius: 20px; padding: 5px 10px; }

.sign .upper-area .swiper-slide ul { display: flex; justify-content: space-around; }

.sign .upper-area .swiper-slide ul li { width: 25%; text-align: center; flex-grow: 1; }

.sign .upper-area .swiper-slide ul li.arr { width: 12%; background: url("../images/ico/ico_arr.png") no-repeat center/auto 30px; }

.sign .upper-area .swiper-slide ul li img { width: 100%; margin-bottom: 10px; }

.sign .upper-area .swiper-slide ul li span { display: block; font-size: 12px; white-space: nowrap; line-height: 14px; }

.sign .upper-area .swiper-pagination { bottom: 5px; transform: none; }

.sign .upper-area .swiper-pagination .swiper-pagination-bullet { border: 1px solid #000000; background: transparent; }

.sign .upper-area .swiper-pagination .swiper-pagination-bullet-active { background: #000000; }

.sign .lower-area { height: 60%; display: flex; justify-content: center; align-items: center; overflow-y: auto; background: #000000; padding: 5% 0; }

.sign .lower-area .inner { width: 100%; height: 100%; display: flex; flex-flow: column; }

.sign .lower-area .tit { display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; flex: 0 1 auto; }

.sign .lower-area .tit span { font-size: 22px; color: #ffffff; font-weight: 400; }

.sign .lower-area .tit a { color: #ebdd02; border: 1px solid #ebdd02; border-radius: 20px; padding: 5px 10px; font-weight: 200; }

.sign .lower-area .box { flex: 1 1 auto; display: flex; flex-flow: column; }

.sign .lower-area .box > div { margin-bottom: 15px; }

.sign .lower-area .box > div:last-child { margin-top: auto; }

.sign .lower-area .box > div.tab-content { margin-top: 0; }

.sign .lower-area .box > div.tab-content .signIn-btn { margin-top: 25px; }

.sign .lower-area .box .btn-yellow { color: #000000; background: #ebdd02; display: block; text-align: center; line-height: 45px; border-radius: 30px; font-weight: 500; font-size: 16px; width: 100%; border: none; }

.sign .lower-area .chk-item { color: #ffffff; margin-top: 10px; }

.sign .lower-area .chk-item input[type='checkbox'] { display: none; }

.sign .lower-area .chk-item input[type='checkbox']:checked + label:before { background: #ebdd02 url("../images/ico/ico_check.png") no-repeat center/auto 10px; }

.sign .lower-area .chk-item label span { vertical-align: middle; }

.sign .lower-area .chk-item label:before { content: ''; display: inline-block; min-width: 20px; width: 20px; height: 20px; border: 1px solid #ebdd02; border-radius: 5px; vertical-align: middle; margin-right: 10px; box-sizing: border-box; }

.sign .lower-area div.sign-ipt { margin-bottom: 5px; position: relative; }

.sign .lower-area div.sign-ipt input { border-color: #ebdd02; border-width: 0 0 1px 0; border-style: solid; background: transparent; width: 100%; height: 40px; color: #ffffff; letter-spacing: 1px; }

.sign .lower-area a.cert-phone { display: block; text-align: center; line-height: 40px; color: #ebdd02; border: 1px solid #ebdd02; border-radius: 50px; margin-top: 15px; }

.sign .lower-area .certification-way { display: flex; justify-content: space-between; }

.sign .lower-area .certification-way button { width: 50%; border: 1px solid  transparent; border-radius: 5px; color: #767676; height: 40px; background: transparent; }

.sign .lower-area .certification-way button.active { border-color: #ebdd02; }

.sign.signIn .lower-area .look-box { display: flex; justify-content: center; align-items: center; margin-bottom: 25px; }

.sign.signIn .lower-area .look-box a { color: #ffffff; padding: 0 20px; }

.sign.signIn .lower-area .look-box a:first-child { border-right: 1px solid #797979; }

.sign.signIn .lower-area .easy-signIn { display: flex; justify-content: space-between; align-items: center; }

.sign.signIn .lower-area .easy-signIn a { display: flex; justify-content: center; align-items: center; width: 45%; color: #ebdd02; border: 1px solid #ebdd02; border-radius: 30px; padding: 15px 0; }

.sign.signIn .lower-area .easy-signIn a img { height: 15px; margin-right: 5px; }

.sign.signUp .chk-all { margin-bottom: 3%; }

.sign.signUp .chk-list { border-width: 1px 0; border-color: #ebdd02; border-style: solid; padding: 3% 0; }

.sign.signUp .chk-list .chk-item:not(:last-child) { margin-bottom: 3%; }

.sign.signUp .chk-list .chk-item label { display: flex; justify-content: space-between; align-items: center; font-weight: 300; }

.sign.signUp .chk-list .chk-item label span { width: 100%; line-height: 1.3; }

.sign.signUp .chk-list .chk-item label button { width: 20px; height: 20px; min-width: 20px; background: url("../images/ico/header_back.png") no-repeat center/contain; transform: rotate(180deg); border: none; font-size: 0; text-indent: -999px; overflow: hidden; }

.sign.signUp .chk-list .chk-item .desc { color: #797979; font-size: 12px; padding: 5px 0 5px 30px; }

.sign.signUp .tab-02 { display: none; }

.tab-area { display: none; }

.tab-area.active { display: block; }

.payment { display: flex; flex-flow: column; }

.payment input[type="checkbox"] { width: 1px; height: 1px; position: absolute; opacity: 0; display: none; }

.payment .payment-wrap { flex: 1; overflow-y: auto; background-color: #f3f3f3; padding: 20px 20px 40px; }

.payment .payment-wrap.payment-wrap0 { background: #000000; padding: 0 20px; }

.payment .payment-wrap.payment-wrap0 .noti { position: relative; text-align: center; color: #797979; padding: 20px 0; border-bottom: 1px solid #303030; font-weight: 500; font-size: 11px; line-height: 1.2; }

.payment .payment-wrap.payment-wrap0 .noti .btn-back { position: absolute; left: 0; top: 50%; transform: translateY(-50%); color: #797979; border: 1px solid #797979; border-radius: 20px; padding: 5px 10px; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item { border-bottom: 1px solid #303030; padding: 5px 0; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item > label { display: flex; align-items: center; justify-content: space-between; font-size: 11px; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item .imgArea { width: 20%; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item .priceArea { flex: 1; padding: 0 15px; color: #797979; font-weight: 300; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item .priceArea .price { font-size: 16px; margin-bottom: 10px; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item .priceArea .qty { font-size: 14px; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item .priceArea .numb { color: #fff; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item .chkArea .box { display: block; border: 1px solid #797979; width: 25px; height: 25px; border-radius: 3px; }

.payment .payment-wrap.payment-wrap0 .payment-list .list-item .chkArea input:checked + .box { background: #ebdd02 url("../images/ico/ico_check.png") no-repeat center/auto 50%; }

.payment .payment-wrap.payment-wrap0 .payment_result { color: #797979; padding: 15px 0; font-size: 14px; }

.payment .payment-wrap.payment-wrap0 .payment_result p { display: flex; justify-content: space-between; align-items: center; line-height: 2; }

.payment .payment-wrap.payment-wrap0 .payment_result p #qty, .payment .payment-wrap.payment-wrap0 .payment_result p #price { color: #fff; font-size: 20px; margin-right: 10px; }

.payment .payment-wrap.payment-wrap1 .way ul { display: flex; flex-wrap: wrap; gap: 5%; }

.payment .payment-wrap.payment-wrap1 .way ul li { width: 30%; border: 1px solid #dddddd; padding: 10px 0; border-radius: 10px; display: flex; flex-flow: column; justify-content: center; align-items: center; background: #ffffff; }

.payment .payment-wrap.payment-wrap1 .way ul li:nth-child(n+1):nth-child(-n+3) { margin-bottom: 5%; }

.payment .payment-wrap.payment-wrap1 .way ul li.selected { border-color: #191919; }

.payment .payment-wrap.payment-wrap1 .way ul li .imgArea { width: 20%; background: red; font-size: 0; padding-top: 20%; margin-bottom: 10px; background: url() no-repeat center/contain; }

.payment .payment-wrap.payment-wrap1 .way ul li:nth-child(1) .imgArea { background-image: url("../images/ico/payment_01.png"); }

.payment .payment-wrap.payment-wrap1 .way ul li:nth-child(2) .imgArea { background-image: url("../images/ico/payment_02.png"); }

.payment .payment-wrap.payment-wrap1 .way ul li:nth-child(3) .imgArea { background-image: url("../images/ico/payment_03.png"); }

.payment .payment-wrap.payment-wrap1 .way ul li:nth-child(4) .imgArea { background-image: url("../images/ico/payment_04.png"); }

.payment .payment-wrap.payment-wrap1 .way ul li:nth-child(5) .imgArea { background-image: url("../images/ico/payment_05.png"); }

.payment .payment-wrap.payment-wrap1 .confirm label { position: relative; display: block; padding-left: 20px; line-height: 15px; }

.payment .payment-wrap.payment-wrap1 .confirm label:before { content: ''; display: block; width: 15px; height: 15px; box-sizing: border-box; position: absolute; left: 0; top: 0; border-radius: 3px; border: 1px solid #797979; }

.payment .payment-wrap.payment-wrap1 .confirm input:checked + label:before { background: #ebdd02 url(../images/ico/ico_check.png) no-repeat center/auto 50%; }

.payment .payment-wrap.payment-wrap2 .numb .box { padding: 20px 0; font-size: 24px; text-align: center; letter-spacing: 3px; font-weight: 700; margin-bottom: 10px; }

.payment .payment-wrap.payment-wrap2 .numb p { padding-left: 20px; line-height: 1.4; font-size: 13px; position: relative; color: #a5a5a5; }

.payment .payment-wrap.payment-wrap2 .numb p:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 15px; height: 15px; background: url("../images/ico/ico_notice_gray.png") no-repeat center/contain; }

.payment .payment-wrap.payment-wrap2 .numb p span { display: block; }

.payment .payment-wrap.payment-wrap2 .confirm > p { margin-bottom: 15px; }

.payment .payment-wrap.payment-wrap2 .confirm a { display: flex; justify-content: center; align-items: center; padding: 15px 0; border-radius: 5px; margin: 5px 0; }

.payment .payment-wrap.payment-wrap2 .confirm a img { width: 15px; margin-right: 10px; }

.payment .payment-wrap.payment-wrap2 .confirm a span { font-size: 14px; font-weight: 500; }

.payment .payment-wrap.payment-wrap2 .confirm .btns { display: flex; justify-content: space-between; align-items: center; }

.payment .payment-wrap.payment-wrap2 .confirm .btns a { background: #e2e2e2; width: 49%; color: #191919; }

.payment .payment-wrap h4 { font-size: 14px; font-weight: 600; padding: 0 0 10px; }

.payment .payment-wrap .inform { margin-bottom: 10px; }

.payment .payment-wrap .inform .box .topArea { padding: 10px 0; }

.payment .payment-wrap .inform .box p { font-size: 13px; padding: 0 20px; line-height: 2; display: flex; justify-content: space-between; align-items: center; color: #191919; }

.payment .payment-wrap .inform .box p.final { font-size: 15px; font-weight: 600; border-top: 1px solid #dddddd; padding: 10px 20px; }

.payment .payment-wrap .inform .box p.final .price { font-size: 18px; }

.payment .payment-wrap .box { border: 1px solid #ddd; background: #fff; border-radius: 10px; }

.payment .payment-wrap .line { height: 5px; background: #dddddd; margin-top: 15px; margin-bottom: 15px; }

.payment .payment-wrap .payment_submit { display: flex; justify-content: center; align-items: center; background: #ebdd02; color: #191919; padding: 15px 0; margin: 15px 0 0; border-radius: 5px; font-size: 15px; font-weight: 500; }

/* history */
.history { display: flex; flex-flow: column; }

.history .history-wrap { flex: 1; overflow-y: auto; padding: 20px 20px 40px; }

.history .history-wrap h3 { color: #ffffff; font-size: 14px; font-weight: 400; padding: 0 0 20px; border-bottom: 1px solid #303030; }

.history .history-wrap .history-list > .list-item:not(:last-child) { margin-bottom: 20px; }

.history .history-wrap .history-list > .list-item h4 { display: flex; justify-content: space-between; align-items: center; color: #797979; padding: 20px 0; font-weight: 400; font-size: 14px; }

.history .history-wrap .history-list > .list-item .item { border: 1px solid #474747; background: #303030; padding: 10px; border-radius: 5px; }

.history .history-wrap .history-list > .list-item .item:not(:last-child) { margin-bottom: 15px; }

.history .history-wrap .history-list > .list-item .item p { color: #ffffff; font-size: 14px; padding: 10px 0; }

.history .history-wrap .history-list > .list-item .photo-list { display: flex; gap: 1.33%; }

.history .history-wrap .history-list > .list-item .photo-list .list-item { width: 24%; }

/* notice */
.notice { display: flex; flex-flow: column; }

.notice .notice-wrap { flex: 1; overflow-y: auto; background-color: #fff; }

.notice .notice-wrap .notice-btns { display: flex; padding: 10px 0 0; }

.notice .notice-wrap .notice-btns .tab-btn { flex: 1; background: transparent; position: relative; border: none; padding: 10px 0; }

.notice .notice-wrap .notice-btns .tab-btn.active:after { content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #000000; }

.notice .notice-wrap .tab-content { font-size: 13px; padding: 20px 0; }

.notice .notice-wrap .tab-content h4 { font-weight: 600; margin-bottom: 10px; }

.notice .notice-wrap .tab-content ul { margin-bottom: 20px; }

.notice .notice-wrap .tab-content ul li { padding-left: 15px; line-height: 1.4; position: relative; }

.notice .notice-wrap .tab-content ul li:before { content: ''; display: block; position: absolute; left: 0; top: 7px; width: 2px; height: 2px; border-radius: 50%; background: #000000; }

.loading { position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 30px; justify-content: center; align-items: center; width: 100%; height: 100%; z-index: 1000; display: none; }

.loading.show { display: flex; }
/*# sourceMappingURL=page.css.map */