.mainVisual {
  .swiperSlide {
    background: url("") no-repeat center/cover;
    a {
      display: block;
      height: 100%;
      overflow: hidden;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
