@import "./var";
.swiper-pagination {
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  font-family: $font-roboto;
  span {
    padding: 0 3px;
  }
}
